<h1>Mister Cocktail</h1>
<p>Les meilleurs cocktails de l'Ouest</p>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %> </li>
  <% end %>
</ul>
<%#= link_to "See details", cocktail_path(cocktail), class: "btn btn-primary"%>

<div>
  <%= link_to 'créer un nouveau cocktail', new_cocktail_path, class: 'btn btn-primary' %>
</div>
